[Desktop Entry]
Name=Play on Kodi
Exec=webapp-container $@ --www=www --inspector
Icon=PlayOnKodi.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
