<!DOCTYPE html>
<html data-ng-app="pokModule" ng-controller="PokController">
<head>
<meta charset="utf-8">
<title>Play on Kodi</title>
<meta name="description" content="Play on Kodi">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="stylesheet" href="css/app.css" type="text/css" />
<script src="js/moment.js"></script>
<script src="js/angular.js"></script>
<script src="js/controllersWS.js"></script>
</head>
<body>
  <div loading-indicator style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); background-color: red; color: white; display: none; font-size: larger;"></div>
  <div class="header">
    <span class="title">Play on Kodi</span>
    <button  ng-click="showSettings = !showSettings">{{ showSettings ? 'Hide settings' : 'Settings' }}</button>
    <br>
    <button ng-click="showRemoteControl = !showRemoteControl">{{ showRemoteControl ? 'Hide remote' : 'Remote' }}</button>
  </div>
  <div class="bottomRightCorner">{{messageLabel}}</div>
  <p>&nbsp;</p>

  <div ng-show="!showSettings && !showRemoteControl">
    <div class="searchFieldContainer">
      <input id="searchFieldId" ng-model="searchField" ng-keyup="$event.keyCode == 13 && searchYouTube()" type="text" placeholder="Search YouTube"  class="searchField"> <span ng-show="items">{{filteredItems.length}} results</span>
    </div>

    <div class="listContainer" ng-repeat="item in filteredItems = (items | filter:notOnQueue)" ng-click="kodiAddToPlaylist(item)">
      <div class="imageContainer">
        <img ng-src="{{item.snippet.thumbnails.default.url}}">
      </div>
      <div class="textContainer">
        <h3>
          {{item.snippet.title}} - <span style='font-size: smaller'>{{item.age}}</span>
        </h3>
      </div>
      <div class="textContainer">{{item.snippet.description}}</div>
    </div>
  </div>


  <div ng-show="showRemoteControl" class="remoteControl">
    <button ng-click="kodiClearPlaylistAll()">Clear playlist</button>
    <button ng-click="kodiMusicParty()">Music party</button>
    <button ng-click="kodiMute()">Mute</button>
    <button ng-click="kodiPlayNextAll()">Next</button><br>
    <button ng-click="kodiPlayPauseAll()">Pause / Play</button>
    <button ng-click="kodiStopAll()">Stop</button>
    <button ng-click="kodiShutdown()">Shutdown</button>
    <p>&nbsp;</p>
    <input type="range" min="0" max="100" ng-model="volumeObject.level" ng-change="kodiVolume()" style="width:90%" id="volumeId">
    <br><label for="volumeId">Volume {{volumeObject.level}}</label>
  </div>

  <div ng-show="showSettings">
    <h2>Kodi Settings</h2>
    <table id="deviceForm">
      <tr>
        <th>Host name</th>
        <td><input type="text" ng-model="deviceName" placeholder="Host name or IP address"></td>
      </tr>
      <tr>
        <th>WebSocket port</th>
        <td><input type="number" ng-model="devicePort" placeholder="WebSocket port usually 9090"></td>
      </tr>
      <tr>
        <th>User name</th>
        <td><input type="text" ng-model="deviceUserName" placeholder="Optional user name"></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><input type="password" ng-model="devicePassword" placeholder="Optional password"></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><input type="text" ng-model="deviceDescription" placeholder="Description"></td>
      </tr>
    </table>
    <button ng-click="saveNewDevice()">Add device</button>
    <p>{{devices.length}} devices</p>
    <table ng-show="devices">
      <tr>
        <th>Active</th>
        <th>Host<br>name
        </th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="device in devices track by $index">
        <td><input type="checkbox" ng-change="deviceToggle(device)" ng-model="device.active"></td>
        <td>{{device.name}}</td>
        <td>{{device.description}}</td>
        <td><button ng-click="deleteDevice(device)">Delete</button></td>
      </tr>
    </table>


    <h2>You Tube Settings</h2>
    <table>
      <tr>
        <th>Max results {{maxResults}}</th>
        <td><input ng-model="maxResults" ng-change="saveYtSettings()" type="range" min="1" max="50"></td>
      </tr>
      <tr>
        <th>Order</th>
        <td><select ng-model="ytOrder" ng-change="saveYtSettings()">
            <option value="date">Date</option>
            <option value="rating">Rating</option>
            <option value="relevance">Relevance</option>
            <option value="title">Title</option>
            <option value="videoCount">Video count</option>
            <option value="viewCount">View count</option>
        </select></td>
      </tr>
      <tr>
        <th>Safe search</th>
        <td><select ng-model="ytSafeSearch" ng-change="saveYtSettings()">
            <option value="moderate">Moderate</option>
            <option value="none">None</option>
            <option value="strict">Strict</option>
        </select></td>
      </tr>
    </table>
  </div>

  <script src="js/app.js"></script>
</body>
</html>
