<!DOCTYPE html>
<html data-ng-app="pokModule" ng-controller="PokController">
<head>
  <meta charset="utf-8">
  <title>Play on Kodi</title>
  <meta name="description" content="Play on Kodi">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" href="css/app.css" type="text/css" />
  <script src="js/moment.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/reconnecting-websocket.js"></script>
  <script src="js/controllersWS.js"></script>
</head>
<body ng-style="backgroundImageUrl != '' && {'background-image':'url('+backgroundImageUrl +')'}">

  <div loading-indicator style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); background-color: red; color: white; display: none; font-size: larger;"></div>
  <div class="header">
    <h1 class="title">Play on Kodi</h1>
    <button  ng-click="showSettings = !showSettings">{{ showSettings ? 'Hide settings' : 'Settings' }}</button>
    <br>
    <button ng-click="showRemoteControl = !showRemoteControl" id="remoteButtonId">{{ showRemoteControl ? 'Hide remote' : 'Remote' }}</button>
    <br>
    <button ng-click="showYouTube = !showYouTube" id="youTubeButtonId">{{ showYouTube ? 'Hide YouTube' : 'YouTube' }}</button>
    <br>
    <button ng-click="hdhomerunChannelList()" ng-show="hdhomerunDevice">HDHomeRun</button>
  </div>
  <div class="bottomRightCorner">{{messageLabel}}</div>
  <p>&nbsp;</p>

  <div ng-show="showYouTube">
    <div class="searchFieldContainer">
      <form ng-submit="search()">
        <input id="searchFieldId" ng-model="searchField" type="text" placeholder="Search {{combinedSearch}}"  class="searchField"> <span ng-show="items">{{filteredItems.length}} results</span>
      </form>
      <button ng-click="homePageActivitiesYouTube()" ng-show="googleAccessToken">YouTube Activities</button>
      <button ng-click="mostPopularYouTube()" ng-show="googleAccessToken">YouTube Popular</button>
    </div>

    <button ng-click="authYouTube()" id="authorize-button" ng-show="!googleAccessToken">YouTube Authorization</button><br>
    <div id="youtubeResponse" ng-show="googleUserCode">
      <p>Copy this code to your clipboard or write it down, click on the link below, enter the code, authorize this app, close this app, and re-open this app.</p>
      <p>{{googleUserCode}}</p>
      <p><a href="http://www.google.com/device">Google Device Code Link</a></p>
    </div>

    <div class="listContainer" ng-show="items" ng-repeat="item in filteredItems = (items | filter:notOnQueue)" ng-click="kodiAddToPlaylist(item)">
      <div class="imageContainer">
        <img ng-src="{{item.snippet.thumbnails.default.url}}" style="max-width:100px">
      </div>
      <div>
        <h3 ng-style="item.type">
          {{item.snippet.title}} <span style='font-size: smaller' ng-show="item.age">- {{item.age}}</span>
        </h3>
      </div>
      <div class="textContainer" ng-class="item.type">{{item.snippet.description}}</div>
    </div>
  </div>
  
  <div ng-show="showRemoteControl" class="remoteControl">
    <button ng-click="kodiNavigation('Home')">Home</button>
    <button ng-click="kodiNavigation('Back')">Back</button>
    <button ng-click="kodiNavigation('Left')">Left</button>
    <button ng-click="kodiNavigation('Right')">Right</button>
    <button ng-click="kodiNavigation('Up')">Up</button>
    <button ng-click="kodiNavigation('Down')">Down</button>
    <button ng-click="kodiNavigation('ContextMenu')">Context menu</button>
    <button ng-click="kodiNavigation('Select')">Select</button>
    <button ng-click="kodiNavigation('Info')">Info</button>
    <button ng-click="kodiNavigation('ShowOSD')">OSD</button>
    <button ng-click="kodiClearPlaylistAll()">Clear playlist</button>
    <button ng-click="kodiMusicParty()">Music party</button>
    <button ng-click="kodiMute()">{{muteButtonText}}</button>
    <button ng-click="kodiPlayNextAll()">Next</button><br>
    <button ng-click="kodiPlayPauseAll()">Pause / Play</button>
    <button ng-click="kodiStopAll()">Stop</button>
    <button ng-click="kodiShutdown()">Shutdown</button>
    <button ng-click="kodi500px()">500px</button>
    <button ng-click="kodiActivateWindow('weather')">Weather</button>
    <button ng-click="kodiActivateWindow('systeminfo')">System Info</button>
    <p>&nbsp;</p>
    <input type="range" min="0" max="100" ng-model="volumeObject.level" ng-change="kodiVolume()" style="width:90%" id="volumeId">
    <br><label for="volumeId">Volume {{volumeObject.level}}</label>
  </div>

  <div ng-show="showSettings">
    <h2>Kodi Settings</h2>
    <div class="settingsMessage">{{settingsMessage}}</div>
    <form name="deviceForm" ng-submit="saveNewDevice()">
      <table id="deviceForm">
        <tr>
          <th>Host name</th>
          <td><input type="text" ng-model="deviceName" placeholder="Host name or IP address" required></td>
        </tr>
        <tr>
          <th>Device type</th>
          <td>
            <input type="radio" ng-model="deviceType" value="kodi">Kodi
            <input type="radio" ng-model="deviceType" value="hdhomerun">HDHomeRun
          </td>
        </tr>
        <tr>
          <th>Port</th>
          <td><input type="number" ng-model="devicePort" placeholder="9090 for Kodi devices" title="9090 for Kodi devices, 80 for HDHomeRun devices" required min="80"><br>
            Be sure to enable "Allow programs on other systems to control Kodi" on your Kodi device.
          </td>

        </tr>
        <tr>
          <th>Description</th>
          <td><input type="text" ng-model="deviceDescription" placeholder="Description" required></td>
        </tr>
      </table>
      <button type="submit">Add device</button>
    </form>
    <p>{{devices.length}} devices</p>
    <table ng-show="devices">
      <tr>
        <th>Active</th>
        <th>Host<br>name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="device in devices track by $index">
        <td><input type="checkbox" ng-change="deviceToggle(device)" ng-model="device.active" ng-show="device.type=='kodi'"></td>
        <td>{{device.name}}</td>
        <td>{{device.type}}</td>
        <td>{{device.description}}</td>
        <td><button ng-click="deleteDevice(device)">Delete</button></td>
      </tr>
    </table>
    <div class="settingsCheckboxes">
      <input type="checkbox" ng-model="transparentButtons"           ng-true-value="'yes'" ng-false-value="'no'" ng-change="saveSettings()">Transparent buttons<br>
      <input type="checkbox" ng-model="pictureSlideshowAsBackground" ng-true-value="'yes'" ng-false-value="'no'" ng-change="saveSettings()">Picture slideshow as background<br>
      <input type="checkbox" ng-model="fanartAsBackground"           ng-true-value="'yes'" ng-false-value="'no'" ng-change="saveSettings()">Fanart as background<br>
      <input type="checkbox" ng-model="showSongTitle"                ng-true-value="'yes'" ng-false-value="'no'" ng-change="saveSettings()">Show song title<br>
      <p>500px Feature: <select ng-model="fiveHundredPixFeature" ng-options="item.name as item.name for item in fiveHundredPixFeatures" ng-change="saveSettings()"></select></p>
      <p>500px Category: <select ng-model="fiveHundredPixCategory" ng-options="item.name as item.name for item in fiveHundredPixCategories" ng-change="saveSettings()"></select></p>
    </div>
    <h2>You Tube Settings</h2>
    <table>
      <tr>
        <th>Max results {{maxResults}}</th>
        <td><input ng-model="maxResults" ng-change="saveSettings()" type="range" min="1" max="50"></td>
      </tr>
      <tr>
        <th>Order</th>
        <td><select ng-model="ytOrder" ng-change="saveSettings()">
          <option value="date">Date</option>
          <option value="rating">Rating</option>
          <option value="relevance">Relevance</option>
          <option value="title">Title</option>
          <option value="videoCount">Video count</option>
          <option value="viewCount">View count</option>
        </select></td>
      </tr>
      <tr>
        <th>Safe search</th>
        <td>
          <select ng-model="ytSafeSearch" ng-change="saveSettings()">
            <option value="moderate">Moderate</option>
            <option value="none">None</option>
            <option value="strict">Strict</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>Search</th>
        <td>
          <input type="radio" ng-model="combinedSearch" value="YouTube"              ng-change="saveSettings()">YouTube
          <input type="radio" ng-model="combinedSearch" value="Podcasts"             ng-change="saveSettings()">Podcast
          <input type="radio" ng-model="combinedSearch" value="YouTube and Podcasts" ng-change="saveSettings()">Both
        </td>
      </tr>
      <tr>
        <th>YouTube Authorization</th>
        <td><button ng-click="deleteYouTubeAuthorization()">Delete</button></td>
      </tr>
    </table>

    <div id="userAgent">User agent: {{userAgent}}</div>
    <p><a href='https://github.com/pla1/PlayOnKodi/blob/master/README.md' target='_blank'>README</a></p>
    <p><a href='https://github.com/pla1/PlayOnKodi/issues' target='_blank'>Report a problem</a></p>
    <p><a href='https://github.com/pla1/PlayOnKodi/' target='_blank'>Source code</a></p>
    <p>&nbsp;</p>
  </div>
  <div class="songTitle" ng-show="title && showSongTitle == 'yes' && !showSettings">{{artist}} - {{album}} - {{title}}</div>
  <script src="js/app.js"></script>
</body>
</html>
