body, h1, h2, h3, p, li, span {
font-family: Ubuntu;
color:white;
background: #2C001E;
}
th, td {
padding:10px;
text-align:left;
}
.searchField {

}
input, button, option {
font-size:x-large;
}
.header {
width:100%;
}
.title {
font-size:xx-large;
}
.header button {
 text-alight:right;
 float:right;
 margin-top:10px;
 margin-bottom:10px;
 margin-left:10px;
 clear:both;
 }
.listContainer {
border: 1px solid #DD4814;
overflow: auto;
margin-top:5px;
}
.imageContainer img {
float: left;
display:block;
vertical-align:middle;
}

.textContainer {
margin-left: 130px;
}
.textContainer h3 {
margin:0px;
font-size:larger;
font-weight:bold;
}
.remoteControl button {
margin:10px;
width:8em;
}
.bottomRightCorner {
position: absolute; bottom: 0px; right: 0px;
}
#userAgent {
font-size:smaller;
}
